.mc-page-container {
  display: flex;
  flex-direction: column;
}

.mc-page-container article {
  margin-top: 1rem;
  flex-grow: 0
}

.mc-page-container header {
  flex-grow: 0;
}

.mc-iframe-container {
  flex-grow: 1;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.mc-iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
