<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {% if post.categories.size > 0 %}
      •
      {% for cat in post.categories %}
      {% capture cat_class %} {{ "post-cat " | append: cat }} {% endcapture %}
      <a class="{{ cat_class }}" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
      {% unless forloop.last %}
      <span>/</span>
      {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <div class="flex-row-container">
      {% if post.image.feature %}
      {% capture img_url %}
      {% if post.image.feature contains 'http' %}
      "background-image: url('{{ post.image.feature }}')"
      {% else %}
      "background-image: url('{{ site.url }}/img/{{ post.image.feature }}')"
      {% endif %}
      {% endcapture %}
      <div class="post-image-feature backlog-image" style={{ img_url }} alt="{{ post.title | escape }} feature image"
        role="img">
        {% if post.image.credit %}
        <span class="image-credit">Photo Credit: <a
            href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
        {% endif %}
      </div>
      {% endif %}

      <div class="backlog-text">
        <h5>
          <a href="{{ site.url }}{{ post.url }}" class="post-title"
            title="{{ post.title | escape }}">{{ post.title }}</a>
          {% if post.link %}
          <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i
              class="fa fa-external-link"></i></a>
          {% endif %}
        </h5>

        {% if post.excerpt %}
        <div class="post-description">
          {{ post.excerpt | truncatewords: 50 }}
          <p>
            <a href="{{ site.url }}{{ post.url }}">Read on</a>
          </p>
        </div>
        {% endif %}
      </div>


    </div>


    {% if post.author %}
    {% assign author = site.data.authors[post.author] %}
    {% else %}
    {% assign author = site.owner %}
    {% endif %}

  </header>

  <!-- <div class="flex-row-container">
    {% if post.image.feature %}
    <div class="post-image-feature flex-image">
      <img src={% if post.image.feature contains 'http' %} "{{ post.image.feature }}"
        {% else %} "{{ site.url }}/img/{{ post.image.feature }}" {% endif %}
        alt="{{ post.title | escape }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div>
    {% endif %}

    {% if post.excerpt %}
    <div class="post-description left-margin flex-content">
      {% if post.content contains site.excerpt_separator %}
      {{ post.excerpt }}
      {% else %}
      {{ post.excerpt | truncatewords: 100 }}
      {% endif %}
      <p>
        <a href="{{ site.url }}{{ post.url }}">Read on</a>
      </p>
    </div>
    {% endif %}
  </div> -->

</section>